/*CSS Document*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #d3d3d3;
	width: 100%;
}

.posts {
	justify-content: flex-end;
	position: relative;
}

.posts img {
	border: 1px solid black;
}


.closemenu {
  display: none;
}
.openmenu {
  display: none;
}
.max550 {
  display: none;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.7);
    justify-content: space-around;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  header ul li {
    float: left;
    margin-left: 65px;
  }
  
  header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  header ul li a:hover {
      color: silver;
  }







  footer {
    height: 200px;
    background: rgba(0,0,0,1);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #firstImg {
    width: 100%;
    height: 500px;
    background: silver;
  }

  footer ul li {
    float: left;
    margin-left: 65px;
  }
  
  footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  footer ul li a:hover {
      color: silver;
  }

  @media screen and (max-width: 550px){
  	.logo{
  		display: none;
  	}

    .min950{
      display: none;
    }

    header {
    	justify-content: start;
    }

    .openmenu {
      display: block;
      margin-left: 1%;
      background: none;
      border: none;
    }
    .closemenu{
      display: block;
      width: 70px;
      margin-left: 1%;
      background: none;
      border: none;
    }
    .max550ul {
      margin-top: 50px;
    }
    .max550 {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -50%;
      background: rgba(0,0,0,0.9);
    }
  }	