/*CSS Document*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 14px;
}

/* Index */

header {
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 900;
}

.header-logo img {
    width: 15%;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

header ul li {
	float: left;
	margin-left: 65px;
}

header ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 19px;
}

header ul li a:hover {
  	color: silver;
}

.header-body {
	display: flex;
    padding: 0 10em;
    justify-content: space-between;
	align-items: center;
	height: 100%;
	flex-shrink: 0;
}

.main-page-body {
	width: 100%;
}

.main-page-cover {
	background-image: url('../img/main-page-header.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.main-page-cover img {
	width: 100%;
}

.main-page-cover .color-overlay {
	/* background-color: rgba(217, 117, 162, 0.7);  */
    width:100%; 
	height:100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.cover-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	text-align: center;
}

.cover-title {
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

.cover-button {
	border: 0;
	border-radius: 20px;
	background-color: #ebc70a;
	padding: 1em;
	font-weight: bold;
	font-size: 15px;
	width: fit-content;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3);
	margin-top: .5em;
	outline-style: none;
	text-decoration: none;
	color: #000;
}

.cover-button:hover{
	box-shadow: none;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3);
	opacity: .8;
}

#firstImg {
	width: 100%;
	height: 100vh;
	background-image: url('../img/main-page-header.jpg');
	background-size: cover;
	background-position: center;
}

.posts {
	width: 100%;
	margin-bottom: 50px;
}

#coverPost {
	width: 70%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post {
	width: 300px;
	height: 400px;
	margin-top: 30px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: .5s;
	cursor: pointer;
	box-shadow: 0px 5px 5px silver;
}

.post:hover {
	transform: scale(1.03);
	transition: .5s;
}

.post img {
  	width: 100%;
}

.coverTextsPost {
	width: 90%;
	height: 40%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.coverTextsPost h3 {
	margin-bottom: .5em;
}

.coverTextsPost p {
  	font-size: 13px;
}


footer {
	background: rgba(0,0,0,1);
	width: 100%;
	flex-shrink: 0;
	padding: 1em 0;
}

.footer-body {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0 10em;
}

.footer-title {
	font-size: 14px;
	font-weight: bold;
	color: #c837eb;
}

.footer-container {
	display: flex;
	justify-content: center;
	margin-top: .5em;
}

.footer-text {
	margin-left: .5em;
	color: #fff;
}

.footer-copyright {
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-top: 1em;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer ul li {
	float: left;
	margin-left: 65px;
}

footer ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 19px;
}

footer ul li a:hover {
  	color: silver;
}

.closemenu {
  	display: none;
}
.openmenu {
  	display: none;
}
.max550 {
  	display: none;
}

.logo{
	max-width: 150px;
  	max-height: 150px;
  	cursor: pointer;
}

.logofooter{
  	width: 12%;
}

@media screen and (max-width: 1010px){
	.header-body,
	.footer-body {
		padding: 0 5em;
	}

	.post {
		width: 280px;
	}
}

@media screen and (max-width: 740px){
	.header-logo img {
		width: 25%;
	}

	.logofooter {
		width: 22%;
	}

	.post {
		width: 150px;
		height: auto;
	}
}

@media screen and (max-width: 550px){
	.header-body,
	.footer-body {
		padding: 0 1em;
	}

	.min950 {
		display: none;
	}

	header {
		justify-content: start;
	}

	.openmenu {
		display: block;
		margin-left: 1%;
		background: none;
		border: none;
	}

	.closemenu {
		display: block;
		width: 70px;
		margin-left: 1%;
		background: none;
		border: none;
	}

	.max550ul {
		margin-top: 50px;
	}

	.max550 {
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -50%;
		background: rgba(0,0,0,0.9);
	}
}	

@media screen and (max-width: 350px){
	.header-logo img {
		width: 40%;
	}

	.logofooter {
		width: 37%;
	}

	.footer-body {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.footer-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Blog */

.content {
	  height: auto;
	  margin: 100px 0;
}

#recommended {
	position: relative;
}
#recommendedPosts{
	width: 90%;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 1em;
}

#degrade1 {
	width: 13%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to right, white, white, white, transparent);
	position: absolute;
	z-index: 2;
}
#degrade2 {
	width: 13%;
	height: 100%;
	top: 0;
	right: 0;
	background: linear-gradient(to left, white, white, white, transparent);
	position: absolute;
	z-index: 2;
}

.postRec {
  	margin-top: 0;
}

@media screen and (max-width: 1000px){
	#degrade1 {
		background: linear-gradient(to right, white, transparent);
	}
	#degrade2 {
		background: linear-gradient(to left, white, transparent);
	}
}

@media screen and (max-width: 650px){
	#degrade1, #degrade2 {
		display: none;
	}

	.post:last-child {
		display: none;
	}
}

@media screen and (max-width: 550px){
	.min950{
		display: none;
	}

	header {
		justify-content: start;
	}

	.openmenu {
		display: block;
		margin-left: 1%;
		background: none;
		border: none;
	}
	.closemenu{
		display: block;
		width: 70px;
		margin-left: 1%;
		background: none;
		border: none;
	}
	.max550ul {
		margin-top: 50px;
	}
	.max550 {
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -50%;
		background: rgba(0,0,0,0.9);
	}
}	

.info {
  background-color: gray;
  width: 500px;
  height: 600px;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}